[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
result = "*"
eclipse-zenoh = "*"
pydantic = "*"
pyyaml = "*"
transitions = "*"
confz = "*"

[dev-packages]

[requires]
python_version = "3.11"
